# JetBrains settings
.idea/
*.iml

# Vagrant crust
.vagrant/

# Temp folder
temp/

# python compiled files
__pycache__/

# Java builds
target/
out/

.vs/

# OSX Metadata
.DS_Store

# Public and private keys
id_rsa.pub
id_rsa.ppk
id_rsa

# Logs
*.log