<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
    <display-name>searchable-video-library</display-name>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Video Conversion Test Servlet</servlet-name>
        <servlet-class>com.teamteem.TestVideoConversionServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Video Conversion Test Servlet</servlet-name>
        <url-pattern>/test_conversion</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>f1</filter-name>
        <filter-class>com.teamteem.filter.VideoConverterTestFilter</filter-class>
        <init-param> <!-- optional -->
            <param-name>video_file_path</param-name>
            <param-value>..\\webapps\\searchable-video-library\\WEB-INF\\videos</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>





    <!--<servlet>-->
        <!--<servlet-name>Teamteem</servlet-name>-->
        <!--<servlet-class>com.teamteem.util.</servlet-class>-->
        <!--<load-on-startup>1</load-on-startup>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>Teamteem</servlet-name>-->
        <!--<url-pattern>*.java</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>